* {
  font-family: 'Comfortaa', cursive;
}

.logo {
  height: 50px;
  position: absolute;
  top: 14%;
  left: 15%;
}

.logo__main {
}

.logo__container {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 auto;
}
