.wrapper {
    position:fixed;
    top:50%;
    left:50%;
}

.score_body {
    font-size: x-small;
    margin: 0;
    padding: 0;
    line-height: 10px;
    text-align: left;
    font-weight: 300;
}

.tab {
    tab-size: 8;
}

.final_score {
    margin-top: 8px;
    font-size: small;
    font-weight: 700;
}