* {
  box-sizing: border-box;
}

.floatbar-functions {
  float: right;
  right: auto;
  width: 300px;
  padding-right: 20px;
  border-radius: 0px 10px 10px 0px;  
}

.floatbar-container {
  display:flex;
  align-items: center;  
  vertical-align: middle;
  height: 170px;
  background-color: #ecf2f5;  
}

.floatbaralign {
  float: left;
  width: 100%;
}
.daterange {
  display: flex;
}
