* {
  box-sizing: border-box;
}

.floatbar-functions {
  width: 300px;
  padding-right: 20px; 
  position: absolute;
  right: 0;
}

.floatbar-container {
  display:flex;
  align-items: center;  
  vertical-align: middle;
  height: 170px;
  background-color: #ecf2f5;  
  position: relative;  
}

.floatbaralign {
  float: left;
  margin-right: 310px; 
  overflow: hidden;
}