* {
    box-sizing: border-box;
}

.TotalScoreContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 30px;
    height: auto;
    /*background-color: red;*/
}
.scoreType {
    display: flex;
}
.scoreNumber {
}
.fileContainer {
    display: flex;
    justify-content: space-between;
    /*background-color: lightblue;*/
}
.fileType {
    padding-left: 10px;
}
.fileScoreNumber {
    float: right;
    /*background-color: wheat;*/
}