.floatbar-labels,
.floatbar-scores,
.floatbar-functions {
  width: 100%;
  height:200px;
  box-sizing: border-box;
}

.floatbar-labels {
  list-style-type: none;  

  background-color: #E4E8EF;
  color: black;
  display: inline-block;
  text-align: right;
  width: 300px;
  padding-left: 0;
  margin-left: 100px; 
  /* padding-top: 50px;   */
  line-height: 200%;
  border-radius: 10px 0px 0px 10px;

}

.floatbar-scores{
  /* background-color: blue; */
  background-color: #E4E8EF;
  padding-left: 30px;
}

.floatbar-functions {
  background-color: #E4E8EF;
  margin-right: 100px;
  /* float: right; */
  width: 30%;
  padding-right: 20px;
  border-radius: 0px 10px 10px 0px;
}

.floatbar-container {
  display:flex;
  align-items: center;  
  width: 100%;  
  vertical-align: middle;


}

.daterange {
  display: flex;
}


.daterange,
.listofusers,
.copybutton {
  float: right;
  white-space: pre-line;
}

.selectuser {
  box-shadow: none;
  background: none;
  border:#E4E8EF;
  border-color: white;
  background-color: transparent;
  border-width: 2px;
  
  border-radius: 10px;
  border: none;
  width: 150px;
  /* height: 50%; */
  /* height: min-content; */
  

  margin-bottom: 100px;  
  outline: 0 !important;
}


.selectuser .MuiOutlinedInput-root{
  
  border-radius: 10px;
  box-shadow: none;
  border-color: black;
  background-color: #4A4F68;
  color: white;
  border: none;
} 


.copybutton {
    /* padding: 8px 20px; */
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #4A4F68;
    width: 150px;
    cursor: pointer;

  display: flex;
  flex-flow: row nowrap;

}
