@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}
.floatbar-labels,
.floatbar-scores {
  width: 100%;
  height: 200px;
  /* height: auto; */
}

.floatbar-labels {
  list-style-type: none;  
  
  /* background-color: red; */
  color: black;
  text-align: right;
  padding-top: 45px;
  padding-right: 20px;
  width: 230px;
  /* line-height: 170%; */
  border-radius: 10px 0px 0px 10px;

}
.rawscore-label {
  line-height: 35px;
}
.remaining-labels {
  line-height: 32px;
}


.floatbar-scores{
  /* background-color: #E4E8EF; */  
  /* background-color: antiquewhite; */
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  will-change: transform;  

}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(233, 238, 243);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #c8cbd4;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ea0a7;
}

.floatbar-functions {
  /* background-color: #9aa0ac; */
  width: 400px;
  padding-right: 30px;
  border-radius: 0px 10px 10px 0px;
  align-content: center;

}

.floatbar-container {
  display:flex;
  align-items: center;  
  width: 90%;  
  vertical-align: middle;
  /* background-color: black; */
  margin: 2% 0% 0% 5%;
  height: 200px;
  border-radius: 10px;
  background-color: #E4E8EF;


}

.daterange {
  display: flex;
}


.selectuser {
  box-shadow: none;
  background: none;
  border:#E4E8EF;
  border-color: white;
  background-color: transparent;
  border-width: 2px;
  
  border-radius: 10px;
  border: none;
  width: 150px;
  /* font-family: 'Lato', sans-serif im !important; */
}


.selectuser .MuiOutlinedInput-root{
  
  border-radius: 10px;
  box-shadow: none;
  border-color: black;
  background-color: #4A4F68;
  color: white;
  border: none;
} 

.copybutton {
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #4A4F68;
  width: 150px;
  cursor: pointer;
  text-transform: none;
  font-family: 'Lato', sans-serif;
}




.copybutton .copyicon {
  /* justify-self:flex-end; */

  margin-left: 40%;
  transform: scale(0.8);
  color: #4A4F68;
  /* color: white; */
} 

.startdate {
  color: #ffff;
  background-color: #4A4F68;
  border-radius: 10px 0px 0px 10px;
}

.enddate {
  background-color: #ffff;
  border-radius: 0px 10px 10px 0px;
}

.startdate,
.enddate {
  height: 35px;
  line-height: 35px;  
  width: 120px;
  text-align: center;
}
.data {
  padding-right: 50px;
}
.data2 {
  display: flex;
  flex-direction: row;  
  text-align: right;
  padding-top: 5px;

}
.user {
  font-size: 16px;
  text-align: right;
}

.userscore {
  font-size: 27px;
}
.userscore_details {
  font-size: 25px;
  color: #6E7590;

}

.userscore,
.userscore_details {
  font-weight: bold;
  line-height: 130%;
}