.MapContainer {
    text-align: center;
}

p {
    display: inline;
    margin-left: 87px;
    margin-right: 150px;
    font-size: large;
}

.intro {
    margin-top: 50px;
    margin-bottom: 4px;
}

.columnNames {
    margin-top: 30px;
    margin-bottom: 20px;
}

.allList {
    list-style-type: none;
}

.innerList {
    margin-left: 105px;
    margin-right: 180px;
}

.listForMembers {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 2px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 41px;
    margin-left: 85px;
    margin-right: 40px;
    display: inline-block;
    vertical-align: 22px;
}

.multipleSelection {
    height: 50px;
    width: 33%;
    white-space: nowrap;
    overflow: auto;
}

.button {
    margin-top: 50px;
}